{{ $img := "" }}
{{ $imgMap := dict }}
{{ $ctx := . }}

{{ $src := "featured" }}
{{ with .Params.featured }}{{ $src = . }}{{ end }}
{{ with partial "mod-img/get-nm" (dict "src" $src "ctx" $ctx) }}
    {{ if eq .img.MediaType.SubType "svg" }}
        {{ $png := print (path.BaseName .img.Key) ".png" }}
        {{ with partial "mod-img/get-nm" (dict "src" $png "ctx" $ctx ) }}
            {{ $imgMap = . }}
        {{ end }}
    {{ else }}
        {{ $imgMap = . }}
    {{ end }}
{{ end }}

{{ if not $imgMap }}
  {{/* Fallback to site default OG image if no featured image is found */}}
  {{ with site.Params.images }}
    {{ $defaultImg := index . 0 }}
    {{ $img = resources.Get $defaultImg }}
  {{ end }}
{{ else }}
  {{ $ratio := div 16 (float 9) }}
  {{ $width := 1200 }}
  {{ $height := int (math.Round (div $width $ratio)) }}
  {{ $img = $imgMap.img.Fill (printf "%dx%d webp q80" $width $height ) }}
{{ end }}

{{ return $img }}
